.container_p {
  display : flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 75vh;
}

.container_c {
  margin: 10px;
}

.cbs {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  width: 50vh;
}

.cbs-item1 {
  align-self: flex-end;
}
